<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<input [(ngModel)]="term" class="text-white form-control mr-sm-2 m-3 bg-transparent"  type="search" placeholder="Search" >

<!-- <img [src]="pic" class="img-fluid my-2"> -->


<owl-carousel-o [options]="customOptions">

  <ng-container *ngFor="let item of moviesList">
    <ng-template carouselSlide [id]="item.id">
      <div class="item" routerLink="/details/{{item.id}}/movie">
        <img [src]="imgBaseurl+item.poster_path" class="img-fluid my-2">
        <h4 class="h6">{{item.title}}</h4>
      </div>
      </ng-template>
  </ng-container>

</owl-carousel-o>



<div class="row my-5">

  <div class="col-md-4">
    <div class="brdr w-25 mb-5"></div>
    <h2>Trending</h2>
    <h2>Movies</h2>
    <h2>To watch now</h2>
    <span class="spn">Most watched movies by day</span>
    <div class="brdr w-100 mt-5"></div>
  </div>

  <div class="col-md-2 my-2" *ngFor="let item of moviesList|search:term">
    <div class="item" routerLink="/details/{{item.id}}/movie">
      <img [src]="imgBaseurl+item.poster_path" class="img-fluid my-2">
      <h4 class="h6">{{item.title}}</h4>
    </div>
  </div>
</div>

<div class="row my-5">

  <div class="col-md-4">
    <div class="brdr w-25 mb-5"></div>
    <h2>Trending</h2>
    <h2>Tv</h2>
    <h2>To watch now</h2>
    <span class="spn">Most tv shows watched by day</span>
    <div class="brdr w-100 mt-5"></div>
  </div>

  <div class="col-md-2 my-2" *ngFor="let item of tvShowsList">
    <div class="item" routerLink="/details/{{item.id}}/tv">
      <img [src]="imgBaseurl+item.poster_path" class="img-fluid my-2">
      <h4 class="h6">{{item.name}}</h4>
    </div>
  </div>
</div>



